namespace: phoneshin
commonLabels:
  app: phoneshin-api
  env: prod
resources:
  - ../../base
patches:
  - path: deploy.yaml
    target:
      kind: Deployment
      name: phoneshin-api-deploy
  - path: service.yaml
    target:
      kind: Service
      name: phoneshin-api-svc
  - path: vs.yaml
    target:
      kind: VirtualService
      name: phoneshin-api-vs
images:
  - name: 'registry-harbor.phoneshin.com/phoneshin/api'
    newName: 'registry-harbor.phoneshin.com/phoneshin/api'
    newTag: 10b50a242b969b869c219762b5550e4dfac26791
